.notes-container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: min-content;
    justify-content: space-around;
    margin: 50px 0 50px 0;
    row-gap: 30px;
    .app-notes {
        background-color: var(--appNotesBG);
        height: auto;
        border-radius: 5px;
        padding: 0 30px 0;
        .notes-heading {
            color: var(--appNotesText);
        }
        .notes-text {
            color: var(--appNotesText);
        }
    }
}